<div class="card shadow mb-4">
    <div class="card-header py-2 pt-3">
        <h4 class="h4  text-gray-800">How should I wash my clothes?</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="washingForm">

            <div class="form-row">
                <div class="input-group mb-3 col-12 ">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"> <i class="fa fas fa-tshirt"aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" formControlName="washingTitle" name="washingTitle" placeholder="The Title..." id="washingTitle">
                </div>
                <div *ngIf="washingTitle.invalid && (washingTitle.dirty || washingTitle.touched)" class="text-danger ml-2">
                    Please provide a title.
                </div>
                <div class="input-group mb-3 col-12">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lightbulb" aria-hidden="true"></i></span>
                    </div>
                    <textarea class="form-control" formControlName="washingDesc" name="washingDesc" placeholder="Wash tips&trick..." id="washingTips" rows="4" cols="24" resize="none" required></textarea>
                </div>
                <div *ngIf="washingDesc.invalid && (washingDesc.dirty || washingDesc.touched)" class="text-danger ml-2">
                    Please provide a Description.
                </div>
            </div>


            <div class=" col-12 mb-3">
                <button type="submit" [disabled]="washingForm.invalid" (click)="saveCategory()" class="btn btn-primary btn-md btn-block " id="save"> <i class="fas fa-save fa-fw mr-2"></i> Save </button>
                <button type="submit" [disabled]="washingForm.invalid" (click)="saveAfterEditCategory()" class="btn btn-primary btn-md btn-block" id="edit" style="display: none;"> <i class="fas fa-save fa-fw mr-2"></i>Save</button>
            </div>


        </form>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">How should I wash my clothes?
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="datatable example" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered d-table row-border stripe hover" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Tips</th>
                        <th class="dt-head-right">Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="washingTypes?.length != 0">
                    <tr *ngFor="let washType of washingTypes">
                        <td class="dt-body-left text-truncate" style="max-width: 250px;">{{ washType.title }}</td>
                        <td class="dt-body-left text-truncate" style="max-width: 250px;">{{ washType.description }}</td>
                        <td class="d-flex justify-content-center">
                            <a type="button" (click)="deleteCategory(washType.id)" class=" " placement="left" ngbTooltip="Remove"> <i class="fas fa-trash fa-fw mr-2"></i></a>
                            <a type="button" (click)="editCategory(washType)" class=" " placement="right" ngbTooltip="Edit"> <i class="fas fa-edit fa-fw mr-2"></i></a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>