//===========================================================================================//
//=============================== the website color palette ==================================//
//===========================================================================================//
$white: #FFFFFF;
$black: #202020;
$soft-black: #333533;
$grey: #F5F5F5;
$yellow: #FFD100;
$soft-yellow: #FFEE32;
$red:#de2a2a;
//===========================================================================================//
$ecru: #BBA671;
$spanish-grey: #94979C;
$powder-blue: #C9E1E3;
$middle-blue: #89D0C8;
$ocean-green: #6DC6A8;
$pear: #D2DC25;
//===========================================================================================//
.makeItRight4 {
    font-family: Cairo !important;
}
