<div class="container-fluid my-5 toArabic">
    <div class="row m-0 p-0">
        <div class="col-12 text-center my-2 Title" data-aos="fade-up" data-aos-duration="3000"> <span class="under-line">{{ 'HOME-INFO.INFO-1' | translate }}
        </span> </div>
        <div class="col-10 offset-1 col-md-6 offset-md-3  align-self-center text-center sub-title text-justify" data-aos="fade-up" data-aos-duration="3000"> <span class="under-line">{{ 'HOME-INFO.INFO-2' | translate }}
        </span> </div>
    </div>
</div>
