<div class="col-12 mx-auto" dir="{{ 'LOGIN.DIR' | translate }}">
    <label for="langSelect" class="mr-1">   <img class="icon-size"  [src]="imgSelect">{{ 'HEADER.SELECT' | translate }}</label>
    <select class="minimal" #langSelect (change)="changeLang(langSelect.value)">
<option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
</select>
</div>
<div class="container-fluid" dir="{{ 'LOGIN.DIR' | translate }}">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center" dir="{{ 'LOGIN.DIR' | translate }}">{{ 'LOGIN.INFO-1' | translate }}</h5>
                    <div class="text-danger" id="error" style="display: none;">{{ 'LOGIN.INFO-6' | translate }}</div>
                    <form [formGroup]="registerUser">

                        <div class="form-group mt-1">
                            <label for="inputPhone">{{ 'LOGIN.INFO-2' | translate }}</label>
                            <input type="text" id="inputPhone" class="form-control" formControlName="phone" placeholder="{{ 'LOGIN.INFO-9' | translate }}" maxlength="20" required>
                            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger mt-2">{{ 'LOGIN.INFO-7' | translate }}</div>
                        </div>

                        <div class="form-group mt-1">
                            <label for="inputPassword">{{ 'LOGIN.INFO-3' | translate }}</label>
                            <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="{{ 'LOGIN.INFO-10' | translate }}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                                required>
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger mt-2">{{ 'LOGIN.INFO-8' | translate }}</div>
                        </div>

                        <button class="btn btn-lg btn-register btn-block text-uppercase mt-3" id="submit" [disabled]="registerUser.invalid" (click)="LoginUser()" type="submit">{{ 'LOGIN.INFO-1' | translate }}</button>
                        <a class="d-block text-center mt-2 small link" routerLink='/Registration/Signup'>{{ 'LOGIN.INFO-4' | translate }}</a>
                    </form>
                    <a class="d-block text-right mt-5 mr-2 small link" routerLink='/Home'><i class='bx bx-fw bx-home'></i>{{ 'LOGIN.INFO-5' | translate }}</a>

                </div>
            </div>
        </div>
    </div>
</div>